*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
@font-face {
  font-family: 'supermabroz';
  src: url('SuperMabroz.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg, var(--purple), var(--purple_black)), url('assents/tinta.WebP');
    background-blend-mode: multiply;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif
}
:root{
    --purple: #a200ff;
    --purple_black: #6900a7;
    --green_scren: #11ee24;
    --green_scren_black: #0b9e18;
}
header{
    display: flex;
    height: 20vh;
    background-image: linear-gradient(60deg, var(--green_scren), var(--green_scren_black));
    color: white;
    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.747);
    padding: 10px 0px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    box-shadow:0px 5px 20px rgba(0, 0, 0, 0.432);
}
header h1, header h2{
    font-family: 'supermabroz', cursive;
    margin: 20px;
    text-align: left;
}
header h2{
    font-size: 15px;
}
.icones {
    display: flex;
    flex-basis: 250px;
    font-size: 3vh;
    justify-content: space-evenly;
}
#apresentacao{
    width: 100%;
    display: flex;
}
#line{
    width: 500px;
    height: 8px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    margin-left:6vw;
    margin-top: 5%;
}
#line h2{
    margin-top: 20px;
    font-size: 5vw;
    color: white;
    text-shadow: 4px 2px 5px rgba(0, 0, 0, 0.671);
}
#cmd{
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    display: block;
    transform: rotate(-10deg);
    width: 20%;
    margin-right: 10vw;
    margin-top: 5%;
    transform: translate(-50%, -50%);
}
#mouse{
    animation-name: move;
    align-items: left;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    display: block;
    transform: rotate(-10deg);
    width: 20%;
    margin-right: 15vw;
    margin-top: 5%;
    transform: translate(-50%, -50%);
}
@keyframes move {
    0% {transform: rotate(-10deg) translateY(0px);}
    50% {transform: rotate(-20deg) translateY(-20px);}
    100% {transform: rotate(-10deg) translateY(0px);}
}
@keyframes move2 {
    0% {transform: rotate(10deg) translateY(0px);}
    50% {transform: rotate(20deg) translateY(-20px);}
    100% {transform: rotate(10deg) translateY(0px);}
}
#more{
    display: none;
    font-size: 5vh;
    color: white;
    margin-right: 5vw;
    cursor: pointer;
}
#acao{
    animation-name: move2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    display: block;
    transform: rotate(10deg);
    width: 20%;
    margin-right: 10vw;
    margin-top: 5%;
}
#figuras{
    justify-content: flex-end;
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end
}
iframe{
    width: fit-content;
    height: fit-content;
    transform: scale(1  );
}
@media screen and (max-width: 700px) {
    #line{
        margin: auto;
    }
    #figuras{
        flex-direction: column;
        align-items: center;
        margin-top: 10vh;
    }
    #cmd, #acao{
        margin: auto;
        width: 30%;
    }
    .icones{
        display: none;
    }
    header{
        flex-direction: column;
        justify-content: center;
    }
    #apresentacao{
        margin-top: 5vh;
        flex-direction: column;
        align-items: center;
    }
    #more{
        display: inline;
        align-self: flex-end;
    }
    #nome h2, #nome h1{
        text-align: center;
    }
    #line{
        width: 80vw;
    }
}